---
---

$section-headings-color: #ff6487;

@import "{{ site.theme }}";

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
}

.image_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image_container img {
    margin-left: 10px;
    margin-right: 10px;
}

.card_child {
    width: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_footer {
    margin-top: 10px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.card_date {
    text-align: right;
    margin-top: 5px;
    font-style: italic;
    font-size: small;
}

.card_preview {
    width: 250px;
}

.tag {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    margin: 2px;
}

.tag_shaders        { background-color: #ff6487; }
.tag_tips           { background-color: #9e9da7; }
.tag_post-process   { background-color: #7E57C2; }
.tag_houdini        { background-color: #FFA726; }
.tag_compute        { background-color: #9CCC65; }
.tag_vfx            { background-color: #29B6F6; }
