---
---

$section-headings-color: #ff6487;

@import "{{ site.theme }}";

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
}